@import '~scss/breakpoints';
@import '~scss/colors';

.root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: calc(14px);
  min-height: 0;
  margin: 1rem 0;

  div {
    background-color: $white-transparent;
    padding: 0.5em 1em;
  }
}
